node_modules/
.expo/
.metro-cache/
**/.metro-cache/
**/__pycache__/
*.pyc
*.env
.env
*.zip
Blueprint-Clean/frontend/android/app/build/intermediates/cxx/Debug/2r6e8713/obj/arm64-v8a/libreactnative.so
Blueprint-Clean/frontend/android/app/build/intermediates/merged_native_libs/debug/mergeDebugNativeLibs/out/lib/arm64-v8a/libreactnative.so
Blueprint-Clean/frontend/node_modules/expo-modules-core/android/build/intermediates/cxx/Debug/z3644o5d/obj/arm64-v8a/libreactnative.so
Blueprint-Clean/frontend/node_modules/react-native-gesture-handler/android/build/intermediates/cxx/Debug/o2t5jm4s/obj/arm64-v8a/libreactnative.so
Blueprint-Clean/frontend/node_modules/react-native-reanimated/android/build/intermediates/cmake/debug/obj/arm64-v8a/libreactnative.so
Blueprint-Clean/frontend/node_modules/react-native-reanimated/android/build/intermediates/cxx/Debug/4m6h135w/obj/arm64-v8a/libreactnative.so
Blueprint-Clean/frontend/node_modules/react-native-screens/android/build/intermediates/cxx/Debug/5b2z5o3l/obj/arm64-v8a/libreactnative.so
Blueprint-Clean/frontend/node_modules/react-native-worklets/android/build/intermediates/cmake/debug/obj/arm64-v8a/libreactnative.so
Blueprint-Clean/frontend/node_modules/react-native-worklets/android/build/intermediates/cxx/Debug/6v13473j/obj/arm64-v8a/libreactnative.so
